<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidcourse.staytuned">
    <!--This is the permission for use casting (google API)-->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />


    <!--This is the permission for write to external storage-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--  //ACTIVITIES ARE LISTED HERE-->
        <!--Main Activity (Channel List)-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChannelView"></activity>

        <!--//meta-data is used to create the return narrow in the left top corner of your activity-->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <!--//Reference the Google PLay Services client Library inside the application element-->
        <!--Note that if you are using Google Play Services client library with the Android Gradle plugin (as when using Android Studio), you do not need to specify this meta data.-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
